aside {
    border: 1px solid salmon;
    border-radius: 5px;
    padding-top: 5%;
}

.container {
    padding: 10% 40px;
}

.top-profile {

    height: 100px;
    display: flex;
    justify-content: center
}

.picture {

    background-color: blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.bottom-profile {
    text-align: center;
    padding-top: 10px;
}

div.content {
    padding: 10px 0px;
    border-top: 1px solid salmon;
}

.bookmark,
.maps {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: baseline;
    padding-left: 5%;
}

.bookmark p {
    padding-left: 9%;

}

.maps p {
    padding-left: 7%;
}

.content:hover {
    background-color: rgb(250, 250, 201);
}

.feed {
    margin: 0px;
    padding: 0px;
}

.post {
    padding: 5%;
    border: 1px solid salmon;
    border-radius: 5px;
}

.interaction-btn {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

}

/* media queries 600px */

@media(min-width: 37.5em) {

    .feed {
        margin-top: 5%;
    }
}

/* media queries 768px */

@media(min-width: 48em) {
    .container {
        padding: 5% 40px;
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        padding-top: 3%;
        width: 30%;
        height: 340px;
    }

    section {
        width: 70%;
        margin-left: 10px;
    }

    .feed {

        padding: 0% 3%;
    }
}

/* media queries 1004px */

@media(min-width: 62.750em) {
    .post {}
}