<div class="container">
    <aside>
        <div class="top-profile">
            <figure>
                <img src={{profilePicture}} alt="profile-picture">
            </figure>
        </div>
        <div class="bottom-profile">
            <h2>{{userDetail["name"]}} {{userDetail["surname"]}}</h2>
            <p><span>@{{userDetail["nickname"]}}</span></p>
            <p>Expertise level: {{userDetail["expertise"]}}</p>
        </div>
        <div class="content">
            <div class="bookmark" [routerLink]="['/bookmarks']">
                <i class="fa-solid fa-bookmark"></i>
                <p>Bookmark</p>
            </div>

        </div>
        <div class="content">
            <div class="maps">
                <i class="fa-solid fa-map"></i>
                <p>Find a plant nursery!</p>
            </div>

        </div>

    </aside>
    <section class="feed">
        <article class="post" *ngFor="let post of arrPosts">
            <div class="content-top">
                <h3>{{post.title}}</h3>
                <h4>{{post.subtitle}}</h4>
            </div>
            <div class="content-bottom">
                <p>{{post.content}}</p>
            </div>
            <div class="interaction-btn">
                <i class="fa-solid fa-bookmark" (click)="onClick(post.id)"></i>
                <a href="https://www.facebook.com/sharer/sharer.php?u=[url]"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?text=[text]&url=[url]&hashtags=[hashtag]"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://api.whatsapp.com/send?text=[text]"><i class="fa-brands fa-whatsapp"></i></a> <!-- url es la url donde redirige.  -->
            </div>


        </article>


    </section>
</div>