aside {
    border: 1px solid var(--color5);
    border-radius: 5px;
    padding-top: 5%;
    height: 100%;
}

.container {
    padding: 10% 40px;
}

.top-profile {
    display: flex;
    justify-content: center
}

figure {
    padding: 10px;
}

img {

    border-radius: 50%;
}

h2 {
    padding: 10px;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

.bottom-profile {
    text-align: center;
    padding-top: 10px;
}

div.content {
    padding: 10px 0px;
    border-top: 1px solid salmon;
    text-decoration: none;

}

.content a {
    text-decoration: none;
    color: black;
}

.content a:hover {
    color: white;
}

.bookmark,
.maps {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: baseline;
    padding-left: 5%;
    text-decoration: none;
}


.bookmark p {
    padding-left: 9%;

}

.maps p {
    padding-left: 7%;
}

.content:hover {
    background-color: var(--color1);
    color: white
}

.feed {
    margin: 0px;
    padding: 0px;
}

.post {
    padding: 3%;
    border: 1px solid var(--color5);
    border-radius: 5px;
    margin-bottom: 10px;
}

.interaction-btn {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;


}

span {
    color: blue;
}

i {
    color: var(--color5);
}

.fa-bookmark span {

    font-family: var(--mainFont);
    padding-left: 5px;
    color: var(--color5);
    font-size: 0.75em;
}



.fa-bookmark span:hover {
    color: #c47300;
}

/* media queries 768px */

@media(min-width: 48em) {
    .container {
        padding: 5% 40px;
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        padding-top: 3%;
        width: 30%;

    }

    section {
        width: 70%;
        margin-left: 10px;
    }

    .feed {

        padding: 0% 3%;
    }

    .interaction-btn {
        padding-top: 5px;
    }

    .post {
        padding: 2%;
    }
}

/* media queries 1004px */