header {
    width: 100%;
    background-color: var(--color1);
    padding: 15px;
    color: white;
    font-size: 0.8em;
    display: flex;
    align-items: baseline;
    flex-direction: row;

}

span {
    font-family: var(--titleFont);
    font-weight: 600;

}

.logo {

    font-family: var(--titleFont);
    font-weight: 600;
    margin-left: 0;
}

.log-in {
    padding-right: 30px;
    margin-left: auto;
}

.log-out {
    padding-right: 30px;
    margin-left: auto;
}

.log-in i {
    padding-right: 10px;

}

.log-out i {
    padding-right: 10px;

}

.hideElement {
    display: none;
}

.displayElement {
    display: block;
}

button {
    border: none;
    background-color: var(--color1);
    color: white;
    font-weight: 600;
    font-family: var(--titleFont);
}

/* media queries 600px */

@media(min-width: 37.5em) {
    header {
        font-size: 0.9em;
    }
}

/* media queries 768px */

@media(min-width: 48em) {
    header {
        font-size: 1em;
    }
}

/* media queries 1004px */

@media(min-width: 62.750em) {
    header {
        font-size: 1em;
    }
}