<div class="container">
    <h1>Plant Mama</h1>
    <section>
        <div class="description">
            <h2>Hey you, welcome to the jungle! </h2>
            <p>Plant Mama is all you need before you buy your new housemates. Stay with us and we will help you to keep your plants alive with weekly reminders.</p>
            <p><span>So, let's get started:</span> Take our plant quiz and find your perfect plant match.</p>

        </div>
        <button [routerLink]="['/quiz']">Start the quiz</button>
    </section>
</div>
<figure class="image">
    <img src="../../../assets/pm-flower.gif" alt="flower">
</figure>