<header>
    <div class="log-in">
        <!-- <span>Log-in</span> -->
        <i class="fa-solid fa-circle-user" routerLink="/login"></i>

    </div>
</header>
<main>
    <div class="container">
        <h1>Plant Mama</h1>
        <section>
            <div class="description">
                <h2>Hey you, welcome to the jungle! </h2>
                <p>Plant Mama is all you need before you buy your new little friends. Stay with us and we will help you to keep your plants alive with weekly reminders.
                    <span>So, let's get started:</span>
                    <br>
                    Take our plant quiz and find your perfect plant match.
                </p>
            </div>
            <button routerLink="/quiz">Start the quiz</button>
        </section>
    </div>
    <div class="image">
        <img src="../../../assets/pm-flower.gif" alt="flower">
    </div>
</main>
<footer>
    <div class="container">
        <p>Copyright &copy; 2022 | Plant-Mama</p>
    </div>
</footer>