<div class="container">
    <h2>Logbook</h2>
    <h5>Keep reading and level up your skills!</h5>
    <p class="message" *ngIf="arrSavedPost?.length === 0"> Congrats, you are one step closer to being a Green Master 🐝 ! </p>

    <section class="bookmark">
        <article class="post" *ngFor="let post of arrSavedPost">
            <div class="content-top">

                <h3>{{post.title}}</h3>
                <h4>{{post.subtitle}}</h4>
            </div>
            <div class="content-bottom">
                <p>{{post.content}}</p>
            </div>
            <button class="interaction-btn" (click)="onClick(post.id)">
                <i class="fa-solid fa-check"></i>
            </button>


        </article>


    </section>
</div>