section {
    height: 100vh;
    flex-direction: column;
    width: 80%;
    padding-top: 50%;

}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
}

label {
    font-size: 0.85em;

}

h2 {
    font-weight: 900;
    color: var(--color5);
    font-family: var(--titleFont);
    padding-bottom: 10px;
}

h5 {
    font-weight: 400;
    font-size: 0.85em;
    padding-top: 10px;

}

h5 span {
    color: var(--color5);
    font-weight: 900;
}

::placeholder {
    font-size: 0.75em;

}

div.btn {
    background-color: var(--color1);
    text-align: center;
}

.btn input {
    border: none;
    background-color: var(--color1);
    font-weight: 900;
    text-align: center;
    align-items: center;
    margin: 0px;
    width: 100%;
}

/* media queries 600px */

@media(min-width: 37.5em) {
    section {
        padding-top: 40%;
    }
}

/* media queries 768px */

@media(min-width: 48em) {

    section {
        padding: 40% 5%;
    }

    h2 {
        font-size: 1.75em;
    }

    form input {
        padding: 5px;
        margin-bottom: 20px;
    }
}

/* media queries 1004px */

@media(min-width: 62.750em) {
    section {
        padding: 10% 15%;
    }

    h2 {
        font-size: 2em;
    }

    label,
    h5 {
        font-size: 1em;
    }

    ::placeholder {
        font-size: 0.85em;

    }
}