h2 {
    text-align: center;
    font-size: 0.75em;
}

h5 {
    text-align: center;
    font-size: 0.50em;
}

h3,
h4 {
    font-size: 0.35em;
    font-weight: 500;
}

a {
    font-size: 0.45em;
}

span {
    font-weight: bold;
    color: var(--color5);

}

div.container {
    padding: 10% 40px;

}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

article {
    border: 1px solid var(--color5);
    width: 32%;
    padding: 2%;
    margin: 1px
}

agm-map {
    height: 300px;
    width: 100%;
}



/* media queries 768px */

@media(min-width: 48em) {

    h2 {

        font-size: 1em;
    }

    h5 {
        text-align: center;
        font-size: 0.75em;
    }

    h3,
    h4 {
        font-size: 0.5em;
        font-weight: 500;
    }

    a {
        font-size: 0.75em;
    }

}


/* media queries 1004px */

@media(min-width: 62.750em) {

    h2 {

        font-size: 1.75em;
    }

    h5 {
        text-align: center;
        font-size: 1em;
        padding-bottom: 40px;
    }

    h3,
    h4 {
        font-size: 0.75em;


    }

    article {
        width: 33%;
    }

}